<style>
h1 {
    color: blue;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: aquamarine;
    border: 20px solid burlywood;
    padding: 50px;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
</style>